{% extends 'layout/_front.html.twig' %}

{% block meta %}
    <meta name="keywords" content="KMIS Pro, self-defense, sécurité, formation, Oise, Verneuil-en-Halatte" />
    <meta name="description" content="@todo">
    <meta name="og:title" property="og:title" content="KMIS Pro">
{% endblock %}

{% block page_classes %}home-page{% endblock %}

{% block header %}
    {% include 'front/components/_banner-home.html.twig' %}
{% endblock %}

{% block body %}

    <div class="separator"></div>

    <h2 data-aos="zoom-out" data-aos-duration="1200"><span class="title-decoration">Qui sommes-nous ?</span></h2>
    <div class="section" itemscope itemtype="https://schema.org/Organization">
        <p><span itemprop="name">KMIS Pro</span> intervient sur un grand nombre de problématiques en partant de la défense de la personne, du harcèlement, de la perte ou manque de confiance en passant par la gestion du stress, de crise et de public difficile et allant jusqu’à l’amélioration de la performance, qu'elle soit personnelle ou collective.</p>
        <p>Toutes ces problématiques peuvent trouver une solution à travers nos différents types de prestations : formation en présentiel, ateliers pratiques de mise en situation ou coachings privés.</p>
    </div>

    <div class="quote">
        <span class="quote-text">Avec KMIS Pro, décuplez vos capacités et votre potentiel.</span>
    </div>

    <div class="separator"></div>

    <h2 data-aos="zoom-out"><span class="title-decoration">A qui s'adresse KMIS Pro ?</span></h2>
    <div id="service-target" class="target-wrapper with-background with-overlay with-overlay--dark">
        <img src="{{ asset('build/images/home-target.webp') }}" alt="A qui s'adresse KMIS Pro ?" />
        <div class="target-title" data-aos="fade-down" data-aos-duration="1200">Nous intervenons pour :</div>
        <div class="target-list">
            <div class="target-item" data-aos="fade-up" data-aos-duration="1200" data-target-item="0">Les établissements scolaires</div>
            <div class="target-item" data-aos="fade-up" data-aos-duration="1200" data-target-item="1">Les administrations recevant du public</div>
            <div class="target-item" data-aos="fade-up" data-aos-duration="1200" data-target-item="2">Les entreprises et leurs employés</div>
        </div>
        <div class="target-info" data-aos="fade-up" data-aos-duration="1200">
            <div class="target-detail" data-target-detail="0">Ne laissez plus votre public être une cible ou une victime</div>
            <div class="target-detail" data-target-detail="1">Ayez toutes les clés pour gérer les situations difficiles</div>
            <div class="target-detail" data-target-detail="2">Boostez le potentiel individuel et collectif</div>
        </div>
        <a href="{{ path('app_target') }}" class="link-icon-button">En savoir plus</a>
    </div>

    <div class="separator"></div>

    <h2 data-aos="zoom-out"><span class="title-decoration">Nos prestations</span></h2>
    <div id="service-type" class="service-wrapper">
        <a href="{{ path('app_services') }}#service-training" class="service with-background with-overlay">
            <img src="{{ asset('build/images/home-service-training.webp') }}" alt="Formations en présentiel" />
            <span class="button-wrapper"><span class="button-text">Formations en présentiel</span></span>
        </a>
        <a href="{{ path('app_services') }}#service-work-group" class="service service--down with-background with-overlay">
            <img src="{{ asset('build/images/home-service-work-group.webp') }}" alt="Ateliers" />
            <span class="button-wrapper"><span class="button-text">Ateliers</span></span>
        </a>
        <a href="{{ path('app_services') }}#service-coaching" class="service with-background with-overlay">
            <img src="{{ asset('build/images/home-service-coaching.webp') }}" alt="Cours et coaching privés" />
            <span class="button-wrapper"><span class="button-text">Cours et coaching privés</span></span>
        </a>
    </div>

    <div class="quote">
        <span class="quote-text">Avec KMIS Pro, décuplez vos capacités et votre potentiel.</span>
    </div>

    <div class="separator"></div>

{% endblock %}
