{% extends 'layout/_front.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block meta %}
    <meta name="keywords" content="KMIS Pro, demande de devis" />
    <meta name="description" content="@todo">
    <meta name="og:title" property="og:title" content="Devis">
{% endblock %}

{% block header %}
    {% include 'front/components/_banner.html.twig' with {
        'image': asset('build/images/todo.webp'),
        'title': ('front.quote.page.title'|trans),
    } only %}
{% endblock %}

{% block body %}

    <div class="separator"></div>

    <h2 data-aos="zoom-out" data-aos-duration="1000"><span class="title-decoration">Demande de devis</span></h2>

    <div class="section">

        {{ form_start(form, {'attr': {'class': 'quote-form'}}) }}

        {% if not form.vars.valid %}
            <div class="quote-error-information"></div>
        {% endif %}

        <div class="row col-x3 col-md-x2 col-sm-x1">
            {{ form_row(form.date) }}
            {{ form_row(form.duration) }}
            <div class="people-count">
                {{ form_row(form.peopleCount) }}
            </div>
        </div>

        <div class="row col-x2 col-sm-x1">
            {{ form_row(form.organization, {'attr': {'data-field-update': 'organization-note'}}) }}
            <div data-field-update-target="organization-note">
                {% if form.organizationNote is defined %}
                    {{ form_row(form.organizationNote) }}
                {% endif %}
            </div>
        </div>

        <div class="row col-x2 col-sm-x1">
            {{ form_row(form.service, {'attr': {'data-field-update': 'service-note'}}) }}
            <div data-field-update-target="service-note">
                {% if form.serviceNote is defined %}
                    {{ form_row(form.serviceNote) }}
                {% endif %}
            </div>
        </div>

        {{ form_row(form.comment) }}

        <div class="fieldset fieldset--with-title location-wrapper">
            <div class="fieldset__title">{{ 'form.quote.location'|trans }}</div>
            {{ form_row(form.location) }}
        </div>

        <div class="fieldset fieldset--with-title contact-wrapper">
            <div class="fieldset__title">{{ 'form.quote.contact'|trans }}</div>
            <div class="row col-x1">
                {{ form_row(form.contact.gender) }}
            </div>
            <div class="row col-x2 col-sm-x1">
                {{ form_row(form.contact.firstName) }}
                {{ form_row(form.contact.lastName) }}
            </div>
            <div class="row col-x2 col-sm-x1">
                {{ form_row(form.contact.phone) }}
                {{ form_row(form.contact.email) }}
            </div>
        </div>

        {{ form_row(form.captcha) }}

        <div class="flex flex--content-end">
            <button type="submit" class="button">{{ 'global.validate'|trans }} <i class="icon-checkmark"></i></button>
        </div>

        {{ form_end(form) }}

    </div>

{% endblock %}
