<nav id="menu-wrapper">
    <div class="menu">
        <a href="{{ path('app_home') }}"><span>{{ 'front.menu.item.home'|trans }}</span></a>
        <a href="{{ path('app_home') }}"><span>{{ 'front.menu.item.services'|trans }}</span></a>
        <a href="{{ path('app_home') }}"><span>{{ 'front.menu.item.coaching'|trans }}</span></a>
        <a href="{{ path('app_home') }}"><span>{{ 'front.menu.item.contact'|trans }}</span></a>
    </div>
    <div class="menu-burger"></div>
</nav>
